.footer {
  padding: 12px;
  border-top: 1px solid #e5e5e5;
  color: #b0b0b0;
  height: 40%;

  a,
  a:visited {
    color: #b0b0b0;
  }

  a:hover {
    color: #0094ff;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footerLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    font-size: 16px;
  }

  @media screen and (min-width: 950px) {
    width: 30%;
  }
}

.footerSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerCopyright {
  font-size: 14px;
  color: #b0b0b0;
}
