.inputBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #2e2727;
}

.label {
  font-size: 16px;
  font-weight: 500;
}

.input {
  width: 400px;
  height: 45px;
  padding: 14px;
  background-color: #f4f4f4;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.input:focus,
.input:active {
  border: 1px solid #0094ff;
}

.loginBox {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.textForm {
  font-size: 14px;
  color: #2e2727;
  text-align: center;
}
