@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fffafa;
  color: #2e2727;
  box-sizing: border-box;
  line-height: 150%;
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 75rem;
  padding: 1rem;
  margin: 0 auto;
}

.mainBox {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mediumBox {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.center {
    justify-content: center;
    align-items: center;
  }
}
