@import url("./reset.css");
@import url("./global.css");
@import url("./header.css");
@import url("./sectionHome.css");
@import url("./buttons.css");
@import url("./typography.css");
@import url("./repCards.css");
@import url("./sectionTestimonies.css");
@import url("./footer.css");
@import url("./repPage.css");
@import url("./forms.css");

