.title1 {
  color: #152c5b;
  font-weight: 700;
  font-size: 42px;

  &.space {
    padding-bottom: 50px;
  }
}

.title2 {
  color: #152c5b;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.title3 {
  color: #152c5b;
  font-weight: 600;
  font-size: 26px;
}

.title4 {
  color: #152c5b;
  font-weight: 500;
  font-size: 20px;
}

.text1 {
  color: #152c5b;
  font-weight: 400;
  font-size: 16px;
}
